* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    background-color: #121213;
}

.main {
    display: grid;
    max-width: auto;
    position: relative;
    margin: auto;
    height: auto;
    grid-template-areas: "nav nav" "content portrait" "skillsTitle skillsTitle" "skills skills" "footer footer";
    grid-template-columns: 60% 40%;
    grid-template-rows: 3rem 40rem 3rem auto 3rem;
}

.nav,
.content,
.portrait,
.skillsTitle,
.skills,
.footer {
    background-color: #121213;
    color:#E1E8FA;
}

.nav {
    grid-area: nav;
    display: flex;
    align-items: center;
}

#home-button {
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
}

#home-click {
    color:#F5D94D
}
.nav h3 {
    padding-left: 5%;
    padding-top: 1%;
    cursor: pointer;
}

.nav h3:hover {
    color: #D4B620;
}
.attribute {
    color: #F5D94D;
}

.content {
    grid-area: content;
    padding-left: 8%;
    display: flex;
    align-items: center;
}

.content h1 {
    font-size: 3rem;
    padding-top: 4%;
}

.content h2 {
    font-size: 2rem;
}

#about-button {
    display: none;
    flex-direction: column;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


#about-button h2 {
    padding-top: 5%;
}

#projects-button {
    display: none;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
}

#contact-button {
    display: none;
    flex-direction: column;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
}

#contact-button h2 {
    padding-top: 5%;
    text-align: left;
}

h3 {
    padding-top: 5%;
}

#contact-button h1 {
    text-align: center;
}

.email {
    text-decoration: underline;
    cursor: pointer;
    color: #F5D94D;
    width: auto;
}

.github {
    color: #0969da;
    text-decoration: none;
    
}

.github:hover {
    text-decoration: underline;
}

.portrait {
    grid-area: portrait;
    padding-top: 10%;
}

.portrait img {
    width: auto;
    height: 90%;
    filter: grayscale(100%);
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.skillsTitle {
    grid-area: skillsTitle;
    display: flex;
    align-items: center;
    padding-left: 5.5%;
    font-size: 1.2rem;
}



.skills {
    grid-area: skills;
    font-size: 5rem;
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer {
    grid-area: footer;
    padding-left: 5.5%;
    display: flex;
    align-items: center;
}
